@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.productCard p,
.total {
  font-size: 15px;
}
@media (max-width: 800px) {
  .productCard p,
  .total {
    font-size: 12px;
  }
  .shadow {
    width: 18rem;
  }
}
